/* include reset styles and bootsrap 4 grid */

@import url('bootstrap-reboot.css');
@import url('bootstrap-grid.css');
@import url('gameMenu.css');
@import url('login.css');
@import url('preloader.css');
@import url('scoreboard.css');
@import url('selectionWheelImpacts.css');
@import url('tasks.css');
/* main styles */

body {
    position: relative;
    font-size: 1em;
    font-family: 'Bender', 'Geometria', sans-serif;
}

h1 {
    color: red;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}

label,
input[type='text'] {
    min-width: 100%;
}

input {
    border: 1px solid lightgrey;
}

.hide {
    display: none;
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.game-container {
    min-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
    background-image: url('../img/bg/start-bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}

.wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.canvas-wrap {
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

.canvas {
    width: 100%;
    height: auto;
}

.btn {
    display: block;
    cursor: pointer;
    height: 35px;
    margin: 20px auto;
}

.h100 {
    height: 100%;
}

.game-bg-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1;
    filter: blur(3px);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 998;
}

@font-face {
    font-family: 'Futurama';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Futurama/font_fr-ambient.WOFF') format('woff'), url('../fonts/Futurama/font_fr-ambient.ttf') format('truetype');
}

@font-face {
    font-family: 'Futurama-bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Futurama/font_fr-bold.WOFF') format('woff'), url('../fonts/Futurama/font_fr-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Butterbelly';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Futurama/font_butterbelly.WOFF') format('woff'), url('../fonts/Futurama/font_butterbelly.ttf') format('truetype');
}

@font-face {
    font-family: 'Bender';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Bender/Bender.eot?#iefix') format('embedded-opentype'), url('../fonts/Bender/Bender.woff') format('woff'), url('../fonts/Bender/Bender.ttf') format('truetype');
}

@font-face {
    font-family: 'Bender-bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Bender/Bender-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Bender/Bender-bold.woff') format('woff'), url('../fonts/Bender/Bender-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Geometria/Geometria-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-Medium.woff') format('woff'), url('../fonts/Geometria/Geometria-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Geometria-bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria/Geometria-Bold.woff') format('woff'), url('../fonts/Geometria/Geometria-Bold.ttf') format('truetype');
}